<!DOCTYPE html>
{% load i18n %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Movember 2012 | SapientNitro Chicago{% endblock %}</title>
        <meta name="description" content="It's Movember, and we’re giving our faces to the fight against cancer. But you're the ones who get to choose how our faces look.">
        <meta name="viewport" content="width=device-width">
        {% block meta %}{% endblock %}
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico"/>

        {% if fullsrc %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
        {% else %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style-built.css">
        {% endif %}
        <link href='http://fonts.googleapis.com/css?family=Rokkitt|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

        {% block css %}{% endblock %}

        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
        <script>
            var require = {
                baseUrl: '{{ STATIC_URL }}js/',
                paths: {
                    'jquery': 'vendor/jquery-1.8.2.min',
                    'jquery.easing': 'vendor/jquery.easing.1.3',
                    'jquery.scrollto': 'vendor/jquery.scrollTo-1.4.3.1',
                    'jquery.hashchange': 'vendor/jquery.ba-hashchange',
                    'bootstrap.tooltip': 'vendor/bootstrap-tooltip',
                    'bootstrap.modal': 'vendor/bootstrap-modal',
                    'dcupl': 'vendor/dcupl',
                    'dcupl.hook': 'vendor/dcupl.hook',
                    'template': 'vendor/template',
                    'carousel': 'vendor/carousel',
                    'lazyloadr': 'vendor/lazyloadr',
                    'sketch': 'vendor/sketch',
                    'design': 'modules/design',
                    'designs.user': 'modules/designs.user',
                    'faceCarousel': 'modules/faceCarousel'
                },
                deps: ['main']
            };
        </script>

    </head>
    <body class="{% block body_class %}{% endblock %}">
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div id="outerwrap">
            <div id="wrap">
                <header id="main-header">
                    <div id="header-carousel" class="carousel">
                            <div class="carouselSlider">
                                {% for design in designs %}
                                <div class="carouselItem face">
                                    <img src="{% if forloop.counter < 0 %}{{ design.front }}{% else %}{{ STATIC_URL}}images/blank.png" data-lazy-src="{{ design.front }}{% endif %}" alt="{{ design.title }}" width="750" height="419" rel="tooltip" data-placement="right" data-title='"{{ design.title }}"' data-face="{{ design.face }}" data-face-id="{{ design.face.id }}" data-tooltip-header="true"{% if design.side %} data-face-side="true"{% endif %}>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="carouselControls">
                                <div class="carouselControlLeft">Previous</div>
                                <div class="carouselPages"></div>
                                <div class="carouselControlRight">Next</div>
                            </div>
                        </div>
                    <div class="inner-wrap">
                        <a id="logo" class="ir" href="/"><h1>SapientNitro Chicago Movember 2012</h1></a>
                        <h2 class="ir sprite sprite-heading">2012 Movember Sapient Chicago | We're selling our faces to the highest bidder</h2>
                        <div id="bookmarks">{% block bookmarks %}{% endblock %}</div>
                        <a id="donate-now" class="ir sprite sprite-donate-now" href="http://us.movember.com/team/630273" target="_blank" title="Donate Now">Donate Now</a>
                        <div style="position: absolute; left: 740px; top: 70px;">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://chicagostache.com" data-lang="en" data-text="GO CHICAGO MOS!!">Tweet</a>
                        </div>
                        <div style="position: absolute; left: 830px; top: 70px;">
                            <div class="fb-like" data-href="http://chicagostache.com" data-send="true" data-width="450" data-show-faces="false" data-layout="button_count" data-font="tahoma"></div>
                        </div>
                    </div>
                </header>

                {% block body %}

                {% block content %}
                {% endblock content %}

                <footer id="main-footer">
                    <div class="inner-wrap">
                    </div>
                </footer>

                <aside id="slogan" class="sprite">
                    <a href="http://us.movember.com/team/630273" title="Visit our team page" target="_blank"></a>
                </aside>

                <div class="auth">
                    {% if user.is_authenticated %}
                    <a  href="{% url auth_logout %}?next=/">logout</a><span>/</span>
                    <span>Hello {{ user.first_name }}</span><span>/</span>
                    <a href="/designs/user/{{ user.id }}">my designs</a><!-- <span>/</span> -->
                    {% else %}
                    <form action="{% url facebook_connect %}?facebook_login=1" method="post">
                        <a class="ir facebook-login" href="javascript:void(0);" style="font-size: 20px;" onclick="F.connect(this.parentNode);">Sign in to Facebook</a>
                        <input type="hidden" value="http://chicagostache.com" name="next" />
                    </form><!-- <span>/</span> -->
                    {% endif %}
                    <!-- <a href="/designs/leaderboard">leaderboard</a> -->
                </div>
            </div>
        </div>
        <div id="donate-shim" class="full-page-shim">
            <div id="donate-instructions">
                <input type="text" value="">
                <p>This code should be copied to the "ADD MESSAGE" section of the donate form.<br>To copy press Ctrl+C (Cmd+C on Mac) then press "Donate Now" below.<br> (Please note: New design submissions could take up to a few hours to be approved, thanks for understanding!)</p>
                <a class="ir sprite sprite-donate-now-small" href="{% block donateurl %}#{% endblock donateurl %}" target="_blank">Donate</a>
                <br>
                (screenshot)
                <img src="{{ STATIC_URL }}images/add_message_screen.png">
                <a class="close btn" href="#">close</a>
            </div>
        </div>

        <script id="modal-template" type="text/template"><div class="modal hide fade">
          <div class="modal-body">
            <p>{body}</p>
          </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn close">Close</a>
          </div>
        </div></script>


        {% block javascript_library %}
        {% if fullsrc %}
        <script src="{{ STATIC_URL }}js/vendor/require.min.js"></script>
        {% else %}
        <script src="{{ STATIC_URL }}js/script-built-require.js"></script>
        {% endif %}
        {% include 'django_facebook/_facebook_js.html' %}
        {% endblock javascript_library %}

        <script>
        require(["jquery"], function($) {
            $(function(){
                var arrayOfImages = [
                    {% for design in designs %}{% if design.side %}'{{ design.side }}'{% if not forloop.last %},
                    {% endif %}{% endif %}{% endfor %}
                ];
                for(i in arrayOfImages){
                    $('<img/>')[0].src = arrayOfImages[i];
                };
            });
        });
        </script>

        {% block javascript %}
        {% endblock javascript %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-36027845-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=510712048941141";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {% endblock body %}
    </body>
</html>
