{% extends "base.html" %}
{% load i18n %}

{% block meta %}<meta property="og:image" content="http://chicagostache.com{% for design in designs %}{{ design.front }}{% endfor %}"/>{% endblock %}

{% block title %}{% for design in designs %}{{ design.title }}{% endfor %} | Donate to this design or create your own!{% endblock %}

{% block body_class %}{{ block.super }}{% endblock %}

{% block donateurl %}{% for design in designs %}{{ design.face.url }}{% endfor %}{% endblock donateurl %}

{% block bookmarks %}<a href="/" title="Home">Home</a> / {% for design in designs %}"{{ design.title }}"{% endfor %}{% endblock %}

{% block content %}

{% for design in designs %}
<div id="submit-confirm">
    <div class="choose-controls">
        <h4>Donate to "<span>{{design.title}}</span>"</h4>
        <h2 class="copy">{{design.code}} <small>(copy)</small></h2>
        <a class="ir sprite sprite-donate-now-small" href="#">Donate</a>
        <p>When you donate, copy &amp; paste this code into the "ADD MESSAGE" section on this person's <em>MoSpace</em> page.</p>
        <div class="sharing">
            <div class="twitter-wrap">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://chicagostache.com/designs/{% for design in designs %}{{ design.code }}{% endfor %}/" data-lang="en" data-text="Donate to {% for design in designs %}{{ design.title }}{% endfor %} or create your own design!">Tweet</a>
            </div>
            <div class="fb-wrap">
                <div class="fb-like" data-href="http://chicagostache.com/designs/{% for design in designs %}{{ design.code }}{% endfor %}/" data-send="true" data-width="450" data-show-faces="false" data-layout="button_count" data-font="tahoma"></div>
            </div>
        </div>
    </div>
</div>
<style>
#wrap #main-header h2{
    top: 155px;
}
#submit-confirm{
    display: block;
    left: 400px;
    top: 305px;
}
</style>
{% endfor %}
{% endblock content %}