{% extends "base.html" %}
{% load i18n %}

{% block body_class %}{{ block.super }}{% endblock %}

{% block bookmarks %}<a href="/" title="Home">Home</a> / My Designs{% endblock %}

{% block content %}

<div id="chosen-face" class="designs-user">
    <div class="inner-wrap wide">
        <div id="choose-design-carousel" class="carousel">
            <div class="carouselSlider">
                {% for design in designs %}
                <div class="carouselItem face">
                    <div class="hover-shim"></div>
                    <div class="choose-controls">
                        <h4>Donate to "<span>{{design.title}}</span>"</h4>
                        <h2 class="copy">{{design.code}} <small>(copy)</small></h2>
                        <a class="ir sprite sprite-donate-now-small" href="#" data-donate-url="{{design.face.url}}">Donate</a>
                        <p>When you donate, copy &amp; paste this code into the "ADD MESSAGE" section on this person's <em>MoSpace</em> page.</p>
                    </div>
                    <img src="{{design.front}}" alt="" width="600">
                </div>
                {% endfor %}
            </div>
            <div class="carouselControls">
                <div class="carouselControlLeft">Previous</div>
                <div class="carouselPages"></div>
                <div class="carouselControlRight">Next</div>
            </div>
        </div>
    </div>
</div>

<script>require.deps.push('designs.user')</script>


{% endblock content %}
