{% extends "base.html" %}
{% load i18n %}

{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}

<div id="face-carousel" class="carousel">
    <div class="carouselSlider">
        {% for face in faces %}
        <a class="carouselItem face" href="#{{ face.handle }}" data-donate-url="{{ face.url }}" data-face="{{ face.handle }}" data-face-id="{{ face.id }}" title="{{ face.bio }}" rel="tooltip" data-placement="top">
            <div class="hover-shim"></div>
            <img src="{% if forloop.counter < 6 %}{{ MEDIA_URL }}faces/thumbs/bw/{{ face.handle }}.png{% else %}{{ STATIC_URL}}images/blank.png" data-lazy="true" data-lazy-src="{{ MEDIA_URL }}faces/thumbs/bw/{{ face.handle }}.png{% endif %}" alt="{{ face.name }}'s Face" height="305" width="425">
        </a>
        {% endfor %}
    </div>
    <div class="carouselControls">
        <div class="carouselControlLeft sprite sprite-prev-button">Previous</div>
        <div class="carouselPages"></div>
        <div class="carouselControlRight sprite sprite-prev-button">Next</div>
    </div>
</div>

<div id="chosen-face">
    <div class="inner-wrap">
        <div id="design"{% if not user.is_authenticated %}class="no-auth"{% endif %}>
            <form id="design-form" method="POST" action="/designs/create/" enctype="multipart/form-data">
                {% csrf_token %}
                {{ design_form }}
            </form>
            <div id="sketchFrontWrap">
                <canvas id="sketchFront" width="960" height="536"></canvas>
                <div class="controls">
                    <span class="btn-group">
                        <a href="#sketchFront" data-tool="marker" class="btn active btn-inverse">Draw</a>
                        <a href="#sketchFront" data-tool="eraser" class="btn">Erase</a>
                    </span>
                    <span class="btn-group">
                        <a href="#sketchFront" style="font-size:8px" data-size="1" class="btn">o</a>
                        <a href="#sketchFront" style="font-size:12px" data-size="3" class="btn">o</a>
                        <a href="#sketchFront" style="font-size:14px" data-size="5" class="btn active btn-inverse">o</a>
                        <a href="#sketchFront" style="font-size:18px" data-size="10" class="btn">o</a>
                    </span>
                    <a id="clear-sketch-front" href="#clear-sketch" class="btn">Clear</a>
                </div>
            </div>
            <div id="sketchSideWrap">
                <canvas id="sketchSide" width="960" height="536"></canvas>
                <div class="controls">
                    <span class="btn-group">
                        <a href="#sketchSide" data-tool="marker" class="btn active btn-inverse">Draw</a>
                        <a href="#sketchSide" data-tool="eraser" class="btn">Erase</a>
                    </span>
                    <span class="btn-group">
                        <a href="#sketchSide" style="font-size:8px" data-size="1" class="btn">o</a>
                        <a href="#sketchSide" style="font-size:12px" data-size="3" class="btn">o</a>
                        <a href="#sketchSide" style="font-size:14px" data-size="5" class="btn active btn-inverse">o</a>
                        <a href="#sketchSide" style="font-size:18px" data-size="10" class="btn">o</a>
                    </span>
                    <a id="clear-sketch-side" href="#clear-sketch" class="btn">Clear</a>
                </div>
            </div>
            <a class="toggle-angle front" href="#">
                <img src="" alt="" width="160">
                <div href="#" id="switch-sides-btn" class="btn"><i class="icon-share-alt"></i> Switch Sides</div>
            </a>
            <a id="submit-sketch" class="ir sprite sprite-submit" href="#submit-sketch">Submit</a>
            {% if not user.is_authenticated %}
            <div class="auth-shim">
                <h2>To create your own design...</h2>
                <form action="{% url facebook_connect %}?facebook_login=1" method="post">
                    <a class="ir sprite sprite-facebook-connect" href="javascript:void(0);" style="font-size: 20px;" onclick="F.connect(this.parentNode);">Sign in to Facebook</a>
                    <input id="login-next" type="hidden" value="{{ request.path }}" name="next" />
                    <p>(we will <strong>never</strong> post anything, ever)</p>
                </form>

            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div id="submit-confirm">
                <h4>"<span>Title</span>" Submitted!</h4>
                <h2 class="copy"><span id="success-code">erereree</span> <small>(copy)</small></h2>
                <a class="ir sprite sprite-donate-now-small" href="#">Donate</a>
                <p>You must make the first donation to your design to enable others to donate to it as well. The designs with the most donations win!</p>
                <span class="close">Close</span>
            </div>
            {% endif %}
            <a class="toggle design-and-donate sprite sprite-design-and-donate" href="#design"></a>

        </div>
        <script id="design-carousel-item" type="text/html">
            <div class="carouselItem face">
                <div class="hover-shim"></div>
                <div class="choose-controls">
                    <h4>Donate to "{title}"</h4>
                    <h2 class="copy">{code} <small>(copy)</small></h2>
                    <a class="ir sprite sprite-donate-now-small" href="#">Donate</a>
                    <p>When you donate, copy &amp; paste this code into the "ADD MESSAGE" section on this person's <em>MoSpace</em> page.</p>
                    <div class="sharing">
                        <div class="twitter-wrap">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://chicagostache.com/designs/{code}/" data-lang="en" data-text='Donate to "{title}" or create your own design!'>Tweet</a>
                        </div>
                        <div class="fb-wrap">
                            <div class="fb-like" data-href="http://chicagostache.com/designs/{code}/" data-send="true" data-width="450" data-show-faces="false" data-layout="button_count" data-font="tahoma"></div>
                        </div>
                    </div>
                </div>
                <img src="{front}" alt="" width="920" data-face-side="{side}">
            </div>
        </script>
        <div id="choose-design">
            <div id="choose-design-carousel" class="carousel">
                <div class="carouselSlider">

                </div>
                <div class="carouselControls">
                    <div class="carouselControlLeft sprite sprite-prev-button">Previous</div>
                    <div class="carouselPages"></div>
                    <div class="carouselControlRight sprite sprite-prev-button">Next</div>
                </div>
            </div>
            <a class="toggle pick-a-design-and-donate sprite sprite-pick-a-design-and-donate" href="#choose-design"></a>

            <div class="auth-shim"><h2>Loading Designs...</h2></div>
        </div>
    </div>
</div>

<div style="display:none;">
    <div style="position: absolute; left: 50%;top: 410px; margin-left: -200px;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="GO CHICAGO MOS!!">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div style="position: absolute; left: 50%;top: 410px;">
        <div class="fb-like" data-send="true" data-width="450" data-show-faces="true" data-font="tahoma"></div>
    </div>
</div>


{% endblock content %}

{% block javascript %}
<script>
require(["jquery"], function($) {
    $(function(){
        var arrayOfImages = [
            {% for face in faces %}'{{ MEDIA_URL }}faces/thumbs/{{ face.handle }}.png'{% if not forloop.last %},
            {% endif %}{% endfor %}
        ];
        for(i in arrayOfImages){
            $('<img/>')[0].src = arrayOfImages[i];
        };
    });
});
</script>
{% endblock javascript %}
