<!DOCTYPE html>
{% load i18n %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SapientNitro Chicago Mos | DONATE NOW!!</title>
        <meta name="description" content="SapientNitro Chicago Mos | DONATE NOW!!">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="/static/favicon.ico"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        {% block css %}{% endblock %}
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=510712048941141";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    {% block body %}
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <img src="{{ STATIC_URL }}images/logo.jpg" style="position: absolute; left: 0; top: 0;">
        <h1 style="margin: 50px 0 0; text-align: center;">We are almost there!  Check back tomorrow!</h1>
        <div style="position: absolute; left: 50%;top: 250px; margin-left: -200px;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://chicagostache.com" data-lang="en" data-text="GO CHICAGO MOS!!">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div style="position: absolute; left: 50%;top: 250px;">
            <div class="fb-like" data-href="http://chicagostache.com" data-send="true" data-width="450" data-show-faces="true" data-font="tahoma"></div>
        </div>
        <marquee style="margin: 300px auto 0;"><h1>SAPIENTNITRO CHICAGO MOS ARE BACK!!!!! COOL STUFF COMING SOON... </h1></marquee>
        <blink style="margin: 40px auto 0; text-align: center;"><h1><a class="blink" href="http://us.movember.com/team/630273" title="Sapient Nitro Chicago's Movember Team" style="text-decoration: blink;">DONATE NOW!!!</a></h1></blink>

        {% block javascript_library %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
        {% endblock javascript_library %}
        {% block javascript %}
        {% endblock javascript %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-36027845-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    {% endblock body %}
    </body>
</html>
