.carousel {
	overflow: hidden;
}
.carousel .carouselSlider {
	position: absolute;
	top: 4px;
	left: 0;
	width: 600px;
}
.carousel .carouselControls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 520px;
	height: 33px;
	background: #e1e2e3;
}
.carousel .carouselControlLeft,
.carousel .carouselControlRight {
	position: absolute;
	top: 0;
	height: 32px;
	width: 57px;
	background: #000;
	color: #fff;
	/*font-size: 0;
	text-indent: -9999px;
	overflow: hidden;*/
	cursor: pointer;
}
.carousel .carouselControlLeft:hover {
	background-position: bottom left;
	cursor: pointer;
}
.carousel .carouselControlRight:hover {
	background-position: bottom right;
	cursor: pointer;
}
.carousel .carouselControlRight {
	background-position: top right;
	right: 0;
}
.carousel .carouselButtonDisabled {
	display: none;
}
.carousel .carouselPages {
	padding: 9px 0 0 0;
	text-align: center;
}
.ie7 .carousel .carouselPages {
	padding-top: 13px;
}
.carousel .carouselPages .pageButton {
	height: 7px;
	width: 10px;
	/*background: transparent url(/images/carousel-page-circles.gif) bottom center no-repeat;*/
}
.carousel .carouselPages .pageButton.activePage {
	background-position: top center;
}
