    #face-carousel {
        height: 356px;
        background: #ece3da url(../images/salmon_texture.jpg) repeat-x;
    }

    #chosen-face {
        position: relative;
        height: 649px;
        background: #fff;
    }

    #design,
    #choose-design {
        position: absolute;
        width: 683px;
        height: 100%;
        top: 0;
    }
    #design {
        left: 0;
        background: transparent url(../images/gray_repeat_left.jpg);
    }
    #design .sprite-design-and-donate {
        position: absolute;
        top: 20px;
        right: -6px;
    }
    #choose-design {
        right: 0;
        background: transparent url(../images/gray_repeat_right.jpg);
    }
    #choose-design .sprite-pick-a-design-and-donate {
        position: absolute;
        bottom: 20px;
        left: -6px;
    }
