.sprite{
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
}

.sprite-donate-now{
    height: 40px;
    width: 214px;
    background-position: -1px top;
}

.sprite-design-and-donate{
    height: 98px;
    width: 247px;
    background-position: -467px top;
}

.sprite-pick-a-design-and-donate{
    height: 98px;
    width: 336px;
    background-position: -718px top;
}

.sprite-heading{
    width: 431px;
    height: 98px;
    background-position: left -53px;
}