/* ==========================================================================
   Chicago Stache
   ========================================================================== */


    html {

    }

    body {
        background: black;
        text-align: center;

    }

    .messages{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .messages li{
        display:block;
        width: 100%;
        padding: 5px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: #C09853;
        background-color: #FCF8E3;
        border-bottom: 1px solid #FBEED5;
    }

    .messages li.success{
        color: #468847;
        background-color: #DFF0D8;
        border-bottom: 1px solid #D6E9C6;
    }

    .messages li.error{
        color: #B94A48;
        background-color: #F2DEDE;
        border-bottom: 1px solid #EED3D7;
    }

    #outerwrap{
        width: 960px;
        overflow: visible;
        margin: 0 auto;
    }

    #wrap {
        position: relative;
        width: 1400px;
        border: solid 1px #fff;
        text-align: left;
        margin: 0 auto;
        margin-left: -220px;
    }
    .inner-wrap {
        position: relative;
        width: 960px;
        margin: 0 auto;
    }
    #main-header {
        position: relative;
        height: 517px;
        margin-bottom: 40px;
        background: #ccc url(../images/header.jpg) no-repeat;
    }
    #donate-now {
        position: absolute;
        top: 10px;
        right: 0;
    }

    #main-header h1{
        position: absolute;
        left: 0;
        top: 220px;
    }

    #slogan {
        position: absolute;
        z-index: 1;
        top: 477px;
        left: 0;
        height: 189px;
        width: 100%;
        margin: -40px 0;
        background-position: 0 -176px;
    }

    #slogan a{
        position: absolute;
        height: 188px;
        width: 188px;
        right: 199px;
        top: 0;
    }

    #main-footer {
        height: 374px;
        background: #ccc url(../images/footer.jpg) no-repeat;
    }

    .auth{
        position: absolute;
        right: 500px;
        top: 5px;
    }

    .facebook-login{
        display:block;
        height: 23px;
        width: 150px;
        background: url(../images/signin_facebook.png) no-repeat left top;
    }

    .facebook-login:hover{
        background-position: left -24px;
    }

    .facebook-login:active{
        background-position: left -48px;
    }



    /**
     *    Real-World CSS
     *    by @visualidiot. Licensed under WTPFL.
     */

    /* @group Blink */

    .blink {
        -webkit-animation: blink .75s linear infinite;
        -moz-animation: blink .75s linear infinite;
        -ms-animation: blink .75s linear infinite;
        -o-animation: blink .75s linear infinite;
        animation: blink .75s linear infinite;
    }

    @-webkit-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }

    @-moz-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }

    @-ms-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }

    @-o-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }

    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }

    /* @end */

